<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b183509d-bdb9-43c0-8a73-669531421082/resourcegroups/ResourceGroup-CMS/providers/Microsoft.Web/sites/App-CMS</ResourceId>
    <ResourceGroup>ResourceGroup-CMS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://app-cms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>app-cms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>App-CMS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$App-CMS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>patrickhou00hotmail.onmicrosoft.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMSEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContainerManagementSystem.Models.CMSEntities, ContainerManagementSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CMSEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-EO18V0T;Initial Catalog=CMS;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CMSEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Modelling.csdl|res://*/Models.Modelling.ssdl|res://*/Models.Modelling.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EO18V0T;initial catalog=CMS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CMSEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CMSEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>