<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b183509d-bdb9-43c0-8a73-669531421082/resourceGroups/WebApplicationDDAC/providers/Microsoft.Web/sites/WebApplicationDDAC</ResourceId>
    <ResourceGroup>WebApplicationDDAC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapplicationddac.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplicationddac.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplicationDDAC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplicationDDAC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CMSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-EO18V0T;Initial Catalog=CMS;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=DESKTOP-EO18V0T;Initial Catalog=CMS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContainerManagementSystem.Models.CMSEntities, ContainerManagementSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>patrickhou00hotmail.onmicrosoft.com</ADDomain>
    <ADAppIDUri>https://patrickhou00hotmail.onmicrosoft.com/WebApp-webapplicationddac.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>b262428e-d685-4a21-95c6-a2d3fe6d3c52</ADClientAPPID>
    <ADClientPassword>d5vH6mpJ4pJC7h9flwhfk4UJkV95OLVuOBdtKS5bjIE=</ADClientPassword>
    <ADReplyUrl>https://webapplicationddac.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>0472d8e5-21b3-4da5-8e14-14aa3bcf87d8</ADTenantId>
    <ADPostLogoutRedirectUri>https://webapplicationddac.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CMSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Modelling.csdl|res://*/Models.Modelling.ssdl|res://*/Models.Modelling.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-EO18V0T;Initial Catalog=CMS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>